.LoginBox {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.LoginInput {
  width: 40vw;
  padding: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border: 1px solid #dddd;
}
.LoginLogoBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
}
.fristName {
  font-size: 30px;
  font-weight: 700;
  margin: 10px;
}

.LoginInput > input {
  width: 400px;
  height: 50px;
  margin-bottom: 30px;
  border: 0;
  border-radius: 10px;
  outline: none;
  border: 1px solid #dddd;
}
.LoginInput > button {
  width: 100px;
  height: 50px;
  border-radius: 10px;
  border: 0;
  cursor: pointer;
  background-color: #4b88f7;
  color: white;
}
.signBox {
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.signBox > button {
  width: 100px;
  /* background-color: #4b88f7; */
  border: 0;
  border-radius: 5px;
}
