.CategoryBox {
  width: 100%;
  margin: 0 auto;
  margin-top: 15px;
  z-index: 999;
}
.Category {
  width: 500px;
  margin: 0 auto;
  z-index: 999;
}
.Category > button {
  padding: 5px;
  font-size: 15px;
  margin-left: 10px;
  border-radius: 5px;
  cursor: pointer;
  border: 0;
}
button:active {
  background-color: black;
  color: white;
}

.VideoBox {
  width: 100%;
  border: 1px solid black;
  flex-wrap: wrap;
  justify-content: flex-start;
  overflow: hidden;
  display: flex;
  margin-top: 15px;
  padding: 0 100px;
}
video {
  height: 200px;
  cursor: pointer;
}
.Video {
  width: 400px;
  height: 260px;
  border: 1px solid salmon;
  margin: 10px;
}
p {
  margin-left: 10px;
}
.PstyleTitle {
  font-size: 1.2rem;
}
.Pstyle {
  color: #606060;
  font-size: 1rem;
}
